<!doctype html>
<html ng-app="finance">
	<head>
		<meta charset="UTF-8"/>
		<title>Finance</title>
		<script src="angular.js"></script>
		<script src="finance.js"></script>
		<link rel="stylesheet" href="bootstrap.css">
	</head>
	<body>
		<h1>Accounting App</h1>
		<div ng-controller="ShowCtrl" class="well">
		<div class="row">
		<div class="col-md-6">
		  <form class="form-horizontal" role="form">
			  <div class="form-group">
				  <label class="col-md-1 control-label">Date: </label>
				  <div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="adddate">
				  </div>
			  </div>
			  <div class="form-group">
				  <label class="col-md-1 control-label">Type: </label>
			  	<div class="col-md-4 col-md-offset-1">
			    		<select ng-model="payment" class="form-control">
				   			 <option value="Card">Card</option>
				   			 <option value="Cash">Cash</option>
			    		</select>
			  	</div>
			  </div>
				<div class="form-group">
			 		<label class="col-md-1 control-label">Event: </label>			
					<div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="item" placeholder="Category - Detail">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-1 control-label">Amount: </label>
					<div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="amount" placeholder="0.00">
					</div>
				</div>
				<div class="form-group">
						<div class="col-md-1 col-md-offset-2">
							<button class="btn btn-primary" ng-click="save(item,amount,payment,adddate)">Submit</button>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<button class="btn btn-default" ng-click="cancel()">Cancel</button>
						</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
				  <label class="col-md-1 control-label">Search: </label>
				  <div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="keyword">
				  </div>
			  </div>
			  <div class="form-group">
				  <label class="col-md-1 control-label">From: </label>
			  	<div class="col-md-4 col-md-offset-1">
			    		<input class="form-control" type="text" ng-model="startDate" placeholder="yyyy/MM/dd">
			  	</div>
			  </div>
				<div class="form-group">
			 		<label class="col-md-1 control-label">To: </label>			
					<div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="endDate" placeholder="yyyy/MM/dd">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-1 control-label">Type: </label>
					<div class="col-md-4 col-md-offset-1">
					<select ng-model="searchType" class="form-control">
							 <option value="">All</option>
				   			 <option value="Card">Card</option>
				   			 <option value="Cash">Cash</option>
			    	</select>
					</div>
				</div>
				<div class="form-group">
						<div class="col-md-1 col-md-offset-2">
							<button class="btn btn-primary" ng-click="clear()">Clear</button>
						</div>
				</div>
			</form>
			</div>
		</div>
		<hr>
		<table class="table table-striped">
			<thead>
			<tr>
				<th class="col-md-4"><a href="" ng-click="predicate = 'item'; reverse=!reverse">Event</a></th>
				<th class="col-md-1"><a href="" ng-click="predicate = 'amount'; reverse=!reverse">Amount ({{total}})</a></th>
				<th class="col-md-1"><a href="" ng-click="predicate = 'payment'; reverse=!reverse">Payment</a></th>
				<th class="col-md-1"><a href="" ng-click="predicate = 'adddate'; reverse=!reverse">Date</a></th>
				<th class="col-md-1"><a href="">Delete</a></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="money in filteredMoneys = (moneys | filter:{item:keyword} | filter:{payment:searchType} | daterange:startDate:endDate) | orderBy:predicate:reverse">
				<td>{{money.item}}</td>
				<td>{{money.amount}}</td>
				<td>{{money.payment}}</td>
				<td>{{money.adddate}}</td>
				<td>[ <a href="" ng-click="delete(money)">x</a> ]</td>
			</tr>
			<tbody>
		</table>
	</div>		
	</body>
</html>