<!doctype html>
<html ng-app="finance">
	<head>
		<meta charset="UTF-8"/>
		<title>Finance</title>
		<script src="angular.js"></script>
		<script src="finance.js"></script>
		<link rel="stylesheet" href="bootstrap.css">
	</head>
	<body>
		<h1>Accounting App</h1>
		<div ng-controller="ShowCtrl" class="well">
		<div class="row">
		<div class="col-md-6">
		  <form class="form-horizontal" role="form">
			  <div class="form-group">
				  <label class="col-md-1 control-label">Date: </label>
				  <div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="addDate">
				  </div>
			  </div>
			  <div class="form-group">
				  <label class="col-md-1 control-label">Type: </label>
			  	<div class="col-md-4 col-md-offset-1">
			    		<select ng-model="payment" class="form-control">
				   			 <option value="Card">Card</option>
				   			 <option value="Cash">Cash</option>
			    		</select>
			  	</div>
			  </div>
				<div class="form-group">
			 		<label class="col-md-1 control-label">Event: </label>
					<div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="item" placeholder="Category - Detail">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-1 control-label">Amount: </label>
					<div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="amount" placeholder="0.00">
					</div>
				</div>
				<div class="form-group">
						<div class="col-md-1 col-md-offset-2">
							<button class="btn btn-primary" ng-click="save(item,amount,payment,addDate)">Submit</button>
						</div>
						<div class="col-md-1 col-md-offset-1">
							<button class="btn btn-default" ng-click="cancel()">Cancel</button>
						</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
				  <label class="col-md-1 control-label">Search: </label>
				  <div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="keyword">
				  </div>
			  </div>
			  <div class="form-group">
				  <label class="col-md-1 control-label">From: </label>
			  	<div class="col-md-4 col-md-offset-1">
			    		<input class="form-control" type="text" ng-model="startDate" placeholder="yyyy/MM/dd">
			  	</div>
			  </div>
				<div class="form-group">
			 		<label class="col-md-1 control-label">To: </label>
					<div class="col-md-4 col-md-offset-1">
						<input class="form-control" type="text" ng-model="endDate" placeholder="yyyy/MM/dd">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-1 control-label">Type: </label>
					<div class="col-md-4 col-md-offset-1">
					<select ng-model="searchType" class="form-control">
							 <option value="">All</option>
				   			 <option value="Card">Card</option>
				   			 <option value="Cash">Cash</option>
			    	</select>
					</div>
				</div>
				<div class="form-group">
						<div class="col-md-1 col-md-offset-2">
							<button class="btn btn-primary" ng-click="clear()">Clear</button>
						</div>
				</div>
			</form>
			</div>
		</div>
		<hr>
		<table ng-show = "totalPages > 1">
		<tbody>
			<td ng-show="totalPages > navSize">
				<button ng-disabled="currentPage - navSize < 0" ng-click="shiftNav(currentNav - 1)" class="btn btn-default">&lt;&lt;</button>
			</td>
			<td>
				<button ng-disabled="currentPage <= 0" ng-click="navPage(currentPage - 1)" class="btn btn-default">Prev</button>
			</td>
			<td ng-repeat="page in pages |pagination:currentNav:navSize">
				<button ng-click="navPage(page.pageNo) " class="btn btn-default" ng-class="{active: currentPage == page.pageNo}">{{ page.pageNo + 1 }}</button>
			</td>
			<td>
				<button ng-disabled="currentPage >= totalPages - 1" ng-click="navPage(currentPage + 1)" class="btn btn-default">Next</button>
			</td>
			<td ng-show="totalPages > navSize">
				<button ng-disabled="currentPage + navSize >= totalPages" ng-click="shiftNav(currentNav + 1)" class="btn btn-default">&gt;&gt;</button>
			</td>

			</tbody>
		</table>
		<table class="table table-striped">
			<thead>
			<tr>
				<th class="col-md-4"><a href="" ng-click="predicate = 'item'; reverse=!reverse">Event</a></th>
				<th class="col-md-1"><a href="" ng-click="predicate = 'amount'; reverse=!reverse">Amount ({{total}})</a></th>
				<th class="col-md-1"><a href="" ng-click="predicate = 'payment'; reverse=!reverse">Payment</a></th>
				<th class="col-md-1"><a href="" ng-click="predicate = 'addDate'; reverse=!reverse">Date</a></th>
				<th class="col-md-1"><a href="">Delete</a></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="money in filteredMoneys = (moneys | filter:{item:keyword} | filter:{payment:searchType} | daterange:startDate:endDate | orderBy:predicate:reverse )| pagination:currentPage:paginate">
				<td>{{money.item}}</td>
				<td>{{money.amount}}</td>
				<td>{{money.payment}}</td>
				<td>{{money.addDate | date:'yyyy/MM/dd'}}</td>
				<td>[ <a href="" ng-click="delete(money)">x</a> ]</td>
			</tr>
			<tbody>
		</table>
	</div>
	</body>
</html>