<!doctype html>
<html ng-app="finance">
	<head>
		<meta charset="UTF-8"/>
		<title>Finance</title>
		<script src="angular.js"></script>
		<script src="finance.js"></script>
		<link rel="stylesheet" href="bootstrap.css">
	</head>
	<body>
		<h1>Accounting App</h1>
		<div ng-controller="ShowCtrl" class="well">
		  <form class="form-horizontal" role="form">
			  <div class="form-group">
				  <label class="col-sm-1 control-label">Date: </label>
				  <label class="col-sm-1 control-label">{{today}}</label>
			  </div>
			  <div class="form-group">
				  <label class="col-sm-1 control-label">Type: </label>
			  	<div class="col-sm-3">
			    		<select ng-model="payment" class="form-control">
				   			 <option value="Card">Card</option>
				   			 <option value="Cash">Cash</option>
			    		</select>
			  	</div>
			  </div>
				<div class="form-group">
			 		<label class="col-sm-1 control-label">Event: </label>			
					<div class="col-sm-3">
						<input class="form-control" type="text" ng-model="item">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">Amount: </label>
					<div class="col-sm-3">
						<input class="form-control" type="text" ng-model="amount">
					</div>
				</div>
				<div class="form-group">

					<div class="col-sm-offset-1 col-sm-1">
						<button class="btn btn-primary" ng-click="save(item,amount,payment,today)">Submit</button>
					</div>
					<div class="col-sm-1">
						<button class="btn btn-default" ng-click="cancel()">Cancel</button>
					</div>
				</div>
			</form>
		<hr>
		<table class="table table-striped">
			<tr>
				<th>Event</th>
				<th>Amount</th>
				<th>Payment</th>
        <th>Date</th>				
			</tr>
			<tr ng-repeat="money in moneys">
				<td>{{money.item}}</td>
				<td>{{money.amount}}</td>
				<td>{{money.payment}}</td>
				<td>{{money.adddate}}</td>
			</tr>
		</table>
	</div>		
	</body>
</html>